---
import Primary from '../components/primary'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="w-full flex flex-col justify-center items-center p-48 gap-y-4 text-center">
			<a href="deploy/easy">
				<Primary/>
			</a>
			
			<h1 class="text-4xl font-bold">Deploying</h1>
			<p class="font-semibold border border-black rounded-lg shadow-lg p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, beatae dolores officia aut enim ex adipisci, ad voluptate corrupti perferendis expedita dolorum modi neque animi! Id autem voluptatem sed maiores nisi iste eum perferendis saepe similique delectus nostrum libero maxime vero accusantium accusamus aliquid, officia veniam magni corporis ea perspiciatis quia esse dolor culpa. Exercitationem, saepe fuga asperiores harum velit reiciendis earum! Expedita totam similique voluptas, quo ex non laborum quam cum incidunt pariatur laudantium possimus corporis vero perspiciatis et minus modi sunt, quibusdam sequi atque reiciendis natus suscipit fugit. Perspiciatis aliquid quae qui, beatae necessitatibus tenetur facilis molestias consectetur!</p>
		</div>
		

	</body>
</html>
